.navbar__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5rem;
  margin-left: 20px;
  margin-right: 20px;
}

.navbar__centro {
  display: flex;
  flex-direction: row;
}

.navbar__aboutservise {
  margin-right: 20px;
}
.navbar__features {
  margin-right: 20px;
}

.navbar__faq {
  margin-right: 20px;
}

.navbar__carreer {
  margin-right: 20px;
}

.navbar__contac {
  margin-right: 20px;
}

.navbar__logo {
  margin-right: 20px;
}

.body__footer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-left: 30px;
}

.body-footer__icon1 {
  margin-top: 125px;
  margin-right: 20px;
}

.body-footer__icon2 {
  margin-top: 125px;
}

.app__container {
  background-image: url(./imagenes/financeapp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 1;
}

.navbar-button__button {
  border-radius: 10px;
}
.body-boton__boton {
  border-radius: 10px;
}

.body__title {
  width: 250px;
  margin-left: 50px;
}

.body__page {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.body__parrafo {
  width: 250px;
  margin-left: 50px;
}
.body__boton {
  margin-left: 50px;
}
